<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/css/style.css">
    <script src="https://kit.fontawesome.com/68562b10c3.js" crossorigin="anonymous"></script>
    <title>Fragment mobile logo et avatar</title>
</head>
    <body>
        <header th:fragment="mobile-logo-avatar(avatarUrl='/image/avatar-vide.svg')">
            <div class="fragment-mobile-logo-avatar-header">
                <div>
                    <div class="fragment-mobile-logo-avatar-img-logo"></div>
                </div>
                <div>
                    <a href="/user-profile">
                        <div class="fragment-mobile-logo-avatar-img-avatar">
                            <img name="nameAvatar" th:src="${avatarUrl}" alt="avatar">
                        </div>
                    </a>
                </div>
            </div>
        </header>
    </body>
</html>