<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../static/css/style.css">
    <script src="https://kit.fontawesome.com/68562b10c3.js" crossorigin="anonymous"></script>
    <title>Header</title>
</head>
<body>
<header>
    <nav class="header-nav">
        <ul>
            <li><a href="#add" title="add"><i class="far fa-plus-square"></i>Ajouter</a></li>
            <li><a href="#profil" title="profil"><i class="fas fa-list-ul"></i>Profil</a></li>
            <li><a href="#list" title="list"><i class="fas fa-user"></i>Listes</a></li>
            <li><a href="#aboutus" title="aboutus"><i class="fas fa-info-circle"></i>A propos</a></li>
        </ul>
    </nav>
</header>
</body>
</html>



