<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <script src="https://kit.fontawesome.com/68562b10c3.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <title>Header</title>
</head>
<body>
<footer th:fragment="nav-bar-mobile-about-us">
    <nav>
        <ul class="footer-nav-bar-about-us">
            <li>
                <a href="/about-us" title="about-us">
                    <div>
                        <i class="fas fa-info-circle"></i>
                        <p>À propos</p>
                    </div>
                </a>
            </li>
        </ul>
    </nav>
</footer>
</body>
</html>
