<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/css/style.css">
    <script src="https://kit.fontawesome.com/68562b10c3.js" crossorigin="anonymous"></script>
    <title>Header</title>
</head>
<body>
<header>
    <a href="#index">
        <img alt="MakeMeHappy logo" src="https://via.placeholder.com/150C/O https://placeholder.com/">
    </a>
    <nav class="header-nav">
        <ul>
            <li><a href="#profil" title="profil">Profil</a></li>
            <li><a href="#list" title="list">Listes</a></li>
            <li><a href="#aboutus" title="aboutus">A propos</a></li>
        </ul>
    </nav>
</header>
</body>
</html>