/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ START VARIABLE DECLARATION ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
:root {

    /*
    *   RAPPEL
    *   ``````
    *   Pour déclarer une variable css:
    *   --endroit-élément-propriété: valeur;
    *
    *   Pour utilisation d'une variable :
    *   sélecteur {
    *       propriété: var(nomDeLaVariable);
    *   }
    */

    /****** the size ******/


    /****** the colors ******/
    --generality-color-font: #002962;
    --generality-color-first: #007AC3;
    --generality-color-background: #FFFFFF;
    --generality-color-second: #FDBC2D;
    --generality-color-third: #F1502F;

    /****** the border ******/


    /****** the text ******/


    /****** the box ******/


    /****** Paddings ******/

}
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ END VARIABLE DECLARATION ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ START MOBILE VERSION ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/* ----------   START OF GENERALITY  ------------------ */
*{
    margin: 0;
    padding: 0;
}

/* ----------   END OF GENERALITY  ------------------ */
/* ----------   START OF INDEX  ------------------ */
/*START SECTION 1*/

/*END SECTION 1*/
/*START SECTION 2*/

/*END SECTION 2*/
/* ----------   END OF INDEX  ------------------ */
/* ----------   START OF DASHBOARD  ------------------ */
/*START SECTION 1*/

/*END SECTION 1*/
/*START SECTION 2*/

/*END SECTION 2*/
/* ----------   END OF DASHBOARD  ------------------ */
/* ----------   START OF DASHBOARD-EMPTY  ------------------ */
/*START SECTION 1*/

/*END SECTION 1*/
/*START SECTION 2*/

/*END SECTION 2*/
/* ----------   END OF DASHBOARD-EMPTY  ------------------ */
/* ----------   START OF GIFT CREATE  ------------------ */
h1, h2 {
    text-align: center;
}

h2 {
    padding-top: 1rem;
}

img {
    max-width: 26.5em;
    border-radius: 10px;
    border: none;
    box-shadow: 3px 5px 3px black;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding-top: 4em;
}

form div {
    padding-top: 2em;
}

form div input {
    height: 2em;
}

.gift-create-block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 26.5em;
    padding-top: 0;
}

.gift-create-checkbox {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 20em;
}

.gift-create-block-bouton {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 26.5em;
    padding-top: 0;
}

.gift-create-bouton {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 10em;
    align-items: center;
}

.gift-create-bouton input {
    width: 8em;
    height: 3em;
    border-radius: 10px;
    border: none;
    box-shadow: 3px 5px 3px black;
    color: aliceblue;
    background-color: cadetblue;
}

.gift-create-nameCadeau input{
    border-radius: 10px;
    border: none;
    box-shadow: 3px 5px 3px gainsboro;
}

.gift-create-price input {
    border-radius: 10px;
    border: none;
    box-shadow: 3px 5px 3px gainsboro;
}

.gift-create-urlDealer input {
    border-radius: 10px;
    border: none;
    box-shadow: 3px 5px 3px gainsboro;
}

.gift-create-urlPicture input {
    border-radius: 10px;
    border: none;
    box-shadow: 3px 5px 3px gainsboro;
}

.gift-create-message textarea {
    border-radius: 10px;
    border: none;
    box-shadow: 3px 5px 3px gainsboro;
}

.gift-create-message textarea:hover {
    background-color: aliceblue;
}

.gift-create-nameCadeau input:hover {
    background-color: aliceblue;
}

.gift-create-price input:hover {
    background-color: aliceblue;
}

.gift-create-urlDealer input:hover {
    background-color: aliceblue;
}

.gift-create-urlPicture input:hover {
    background-color: aliceblue;
}







/*END SECTION 1*/
/*START SECTION 2*/

/*END SECTION 2*/
/* ----------   END OF GIFT CREATE  ------------------ */
/* ----------   START OF PAGE  ------------------ */
/*START SECTION 1*/

/*END SECTION 1*/
/*START SECTION 2*/

/*END SECTION 2*/
/* ----------   END OF PAGE  ------------------ */
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ END MOBILE VERSION ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ START DESKTOP VERSION ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
@media only screen and (min-width: 768px) {

    /* ----------   START OF GENERALITY  ------------------ */

    /* ----------   END OF GENERALITY  ------------------ */
    /* ----------   START OF INDEX  ------------------ */
    /*START SECTION 1*/

    /*END SECTION 1*/
    /*START SECTION 2*/

    /*END SECTION 2*/
    /* ----------   END OF INDEX  ------------------ */
    /* ----------   START OF DASHBOARD  ------------------ */
    /*START SECTION 1*/

    /*END SECTION 1*/
    /*START SECTION 2*/

    /*END SECTION 2*/
    /* ----------   END OF DASHBOARD  ------------------ */
    /* ----------   START OF DASHBOARD-EMPTY  ------------------ */
    /*START SECTION 1*/

    /*END SECTION 1*/
    /*START SECTION 2*/

    /*END SECTION 2*/
    /* ----------   END OF DASHBOARD-EMPTY  ------------------ */
    /* ----------   START OF PAGE  ------------------ */
    /*START SECTION 1*/

    /*END SECTION 1*/
    /*START SECTION 2*/

    /*END SECTION 2*/
    /* ----------   END OF PAGE  ------------------ */
    /* ----------   START OF PAGE  ------------------ */
    /*START SECTION 1*/

    /*END SECTION 1*/
    /*START SECTION 2*/

    /*END SECTION 2*/
    /* ----------   END OF PAGE  ------------------ */
}
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ END DESKTOP VERSION ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/