/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ START VARIABLE DECLARATION ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
:root {

    /*
    *   RAPPEL
    *   ``````
    *   Pour déclarer une variable css:
    *   --endroit-élément-propriété: valeur;
    *
    *   Pour utilisation d'une variable :
    *   sélecteur {
    *       propriété: var(nomDeLaVariable);
    *   }
    */

    /****** the size ******/
    --generality-size-icon: 2rem;
    --mobile-logo_xs-width: 65px;
    --mobile-logo_xs-height: 65px;
    --mobile-logo_xl-width: 130px;
    --mobile-logo_xl-height: 130px;
    --mobile-avatar-width: 65px;
    --mobile-avatar-height: 65px;
    --generality-button-width: 35vw;
    --generality-button-height: 3vh;
    --generality-width-form: 13rem;

    /****** the colors ******/
    --generality-color-font_primary: #002962;
    --generality-color-font_second: #FFFFFF;
    --generality-color-first: #007AC3;
    --generality-color-background: #FFFFFF;
    --generality-color-second: #FDBC2D;
    --generality-color-third: #F1502F;

    /****** the border ******/
    --generality-button-border: none;
    --generality-button-border_radius: 15px;
    --generality-button-box_shadow: 0px 1px 3px black;
    --mobile-logo-border_radius: 50%;
    --mobile-avatar-border_radius: 50%;
    --generality-input-border_radius: 15px;
    --generality-input-border: 2px solid gray;


    /****** the text ******/
    --generality-text-font_size: 0.9rem;
    --generality-title-font_size: 1.5rem;
    --generality-title_xl-font_size: 1.8rem;

    /****** the box ******/


    /****** Padding/Margin ******/
    --generality-padding-button: 0.2rem 0.5rem;
    --mobile-padding-logo_avatar: 1rem;
    --mobile-padding-logo_title_xl: 2rem;
    --generality-paddind_left-input: 1rem;
    --generality-margin_top-input: 2vh;
}
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ END VARIABLE DECLARATION ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ START MOBILE VERSION ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/* ----------   START OF GENERALITY  ------------------ */
*{
    margin: 0;
    padding: 0;
    color: var(--generality-color-font_primary);
    font-family: 'Roboto', sans-serif;
}
body {
    padding-bottom: 10vh;
}
ul, li {
    list-style-type: none;
}
.title {
    text-align: center;
    font-size: var(--generality-title-font_size);
}
.button {
    display: block;
    background-color: var(--generality-color-first);
    color: var(--generality-color-font_second);
    border: var(--generality-button-border);
    border-radius: var(--generality-button-border_radius);
    box-shadow: var(--generality-button-box_shadow);
    width: var(--generality-button-width);
    height: var(--generality-button-height);
    text-align: center;
    line-height: var(--generality-button-height);
    text-decoration: none;
    margin-top: 5vh;
    font-weight: bold;
}
.input-button {
    display: block;
    background-color: var(--generality-color-first);
    color: var(--generality-color-font_second);
    border: var(--generality-button-border);
    border-radius: var(--generality-button-border_radius);
    box-shadow: var(--generality-button-box_shadow);
    width: var(--generality-button-width);
    height: var(--generality-button-height);
    text-align: center;
    line-height: var(--generality-button-height);
    text-decoration: none;
    margin-top: 5vh;
    font-weight: bold;
}
.generality-input {
    border-radius: var(--generality-input-border_radius);
    border : var(--generality-input-border);
    padding-left: var(--generality-paddind_left-input);
    margin-top: var(--generality-margin_top-input);
    width: var(--generality-width-form);
    height: 1.2rem;
    background-color: var(--generality-color-background);
}
.fas, .far {
    font-size: var(--generality-size-icon);
    color: var(--generality-color-second);
}
#user-delete {
    font-size: var(--generality-size-icon);
    color: var(--generality-color-third);
}
.color-title {
    color: var(--generality-color-first);
}
.path-error {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 3vh;
}
.path-error p {
    font-size: calc(var(--generality-text-font_size) - 0.2rem);
    color: gray;
}
.path-error a {
    font-size: calc(var(--generality-text-font_size) - 0.2rem);
    color: black;
    font-style: italic;
}
.input {
    width: 15rem;
    border-radius: 10px;
    border: transparent;
    box-shadow: 2px 4px 2px gainsboro;
    height: 3rem;
}
.bloc-p {
    border-radius: 10px;
    border: beige;
    box-shadow: 2px 4px 2px gainsboro;
    padding: 1rem;
    text-align: center;
    width: 15rem;
}
/* ----------   END OF GENERALITY  ------------------ */
/* ----------   START OF HOME PAGE  ------------------ */
.home-page-main input {
    border-radius: 10px;
    height: 2.5rem;
    border-color: transparent;
}
.home-page-main a {
    color: white;
    width: 5rem;
}
.home-page-main .button {
    padding: 2rem;
}
.home-connection {
    background-color: midnightblue;
    border-radius: 10px;
    padding: 1.5rem 2.5rem;
    margin-top: 2rem;
}
.home-connection a {
    text-decoration: none;
}
.home-page-main p {
    text-align: center;
    color: black;
    font-size: 1.2rem;
}
.home-create {
    background-color: midnightblue;
    border-radius: 10px;
    padding: 1.5rem;
}
.home-create a {
    text-decoration: none;
}
.forgot-password {
    padding: 1.5rem;
}

.home-page-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20rem;
    height: 30rem;
    border-radius: 30px;
    margin-bottom: 3rem;
    justify-content: center;
    background-color: cadetblue;
}
.home-bloc {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
/* ----------   END OF HOME PAGE  ------------------ */
/* ----------   START OF DASHBOARD  ------------------ */
/*START SECTION 1*/
.dashboard-card{
    border: 2px solid gray;
    border-radius: .5rem;
    width: 200px;
    height: 68vh;
    margin: auto;
    margin-bottom: 2rem;
    text-align: center;}
  
  .dashboard-card-link{
    text-decoration: none;
  }
  
  .dashboard-img-placeholder{
    border-radius: .5rem .5rem 0 0;
  }
  
  .dashboard-card-date{
    margin-top: 1rem;
    margin-bottom: 1.2rem;
  }
  
  .dashboard-button-message{
    display: flex;
    justify-content: flex-end;
    margin-right: 1rem;
  }
  
  .dashboard-card-icons-trash{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 1rem;
  }
  
  .dashboard-cards-icons{
    display: flex;
    justify-content: flex-end;
    margin-top: 2.9rem;
  }
/* ----------   END OF DASHBOARD  ------------------ */
/* ----------   START OF DASHBOARD-EMPTY  ------------------ */
/*START SECTION 1*/

.dashboard-empty-text{
    margin-top: 7rem;
    text-align: center;
}
.dashboard-empty-text p{
    margin-bottom: 3rem;
    color: var(--generality-text-font_size);
}
.container-dashboard-empty{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    border: 2px solid gray;
    width: 200px;
    height: 20vh;
    bottom: 20vh;
    margin: auto;
    margin-top: 2rem;
    text-align: center;
}
.container-dashboard-empty p{
    margin-bottom: 3rem;
}
.container-dashboard-empty-link{
    text-decoration: none;
}
/*END SECTION 1*/
/*START SECTION 2*/
/*END SECTION 2*/
/* ----------   END OF DASHBOARD-EMPTY  ------------------ */
/* ----------   START OF CONNECTION  ------------------ */

.connection-main input {
    border-radius: 10px;
    height: 2.5rem;
    border-color: transparent;
}

.connection-main .input-button-connection {
    background-color: midnightblue;
    border-color: midnightblue;
    color: white;
    width: 5rem;
    margin-top: 1rem;
}
.user-connection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.connection-main p {
    text-align: center;
    color: black;
}
.connection-main a {
    color: white;
}
.error {
    text-align: center;
}
.error p {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.connection-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20rem;
    height: 30rem;
    border-radius: 30px;
    margin-bottom: 3rem;
    justify-content: center;
    background-color: cadetblue;
}
.connection-bloc {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.connection-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    background-color: black;
    min-height: 80vh;
    padding: 5rem;
}
.connection-container img {
    width: 20rem;
    height: 15rem;
    border-radius: 10px 10px 0px 0px;
}
.one-text{
    width: 20rem;
    background-color: white;
    padding-bottom: 2rem;
    padding-top: 2rem;
}
.connection-one {
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
    margin-bottom: 3rem;
}
.connection-two {
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
    margin-bottom: 3rem;
}
.two-text {
    width: 20rem;
    background-color: white;
    padding-bottom: 2rem;
    padding-top: 2rem;
}
.connection-three {
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
    margin-bottom: 3rem;
}
.three-text {
    width: 20rem;
    background-color: white;
    padding-bottom: 2rem;
    padding-top: 2rem;
}
.connection-four {
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.four-text {
    width: 20rem;
    background-color: white;
    padding-bottom: 2rem;
    padding-top: 2rem;
}
.connection-container h3, p {
    text-align: center;
}

/* ----------   END OF CONNECTION  ------------------ */
/* ----------   START OF USER PROFILE  ------------------ */
.user {
    display: flex;
    flex-direction: column;
    height: 40vh;
    justify-content: space-around;
    align-items: center;
}
.profile-area-avatar {
    display: flex;
    width: calc(var(--generality-width-form) + 1rem);
    height: 6rem;
    justify-content: space-between;
    align-items: center;
}
.profile-area-avatar > div > a {
    margin: auto 0;
    background-color: var(--generality-color-background);
    color: var(--generality-color-first);
}
.profile-avatar {
    width: 64px;
    height: 64px;
    border: 2px solid gray;
    border-radius: var(--mobile-logo-border_radius);
    overflow: hidden;
}
.profile-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.profile-button > input {
    margin: auto 0;
}
.log-out{
    display: flex;
    justify-content: center;
}
.fa-power-off{
    color: var(--generality-color-third);
    margin-left: 2rem;
}
/* ----------   END OF USER PROFILE  ------------------ */
/* ----------   START OF CREATE PROFILE  ------------------ */
.new-profile-avatar {
    width: 64px;
    height: 64px;
    border: 2px solid gray;
    border-radius: var(--mobile-logo-border_radius);
    overflow: hidden;
}
.new-profile-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.new-profile-button input {
    margin-top: auto;
}
/* ----------   END OF CREATE PROFILE  ------------------ */
/* ----------   START OF GIFT-LIST  ------------------ */
.giftlist-h2 {
    margin-top: 6rem;
    margin-bottom: 3rem;
    color: #002962;
    text-align: center;
}
.card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 2px solid gray;
    width: 12rem;
    height: 45vh;
    margin: 0 auto 3rem auto;
    text-align: center;
}
#trash {
    color: var(--generality-color-third);
}
.card-link{
    text-decoration: none;
}
.title-gift {
    text-align: center;
}
.gift-card-image {
    width: 12rem;
    height: 12rem;
}
.fa-share-alt {
    font-size: 1rem;
}
.container-newGift {
    text-align: center;
    border: 2px solid gray;
    width: 12rem;
    height: 40vh;
    margin: 0 auto 3rem auto;
}
.ajout-gift {
    margin-top: 3rem;
}
.plusOne {
    text-align: center;
    margin-top: 3rem;
}
/* - - - - - RATINGS */
.rating {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    width: 10rem;
    height: 2rem;
    margin: auto;
}
.rating:not(:checked) > input {
    display: none;
}

/* - - - - - RATE */
#rate {
    top: -65px;
}
#rate:not(:checked) > label {
    cursor:pointer;
    float: right;
    width: 30px;
    height: 30px;
    display: block;

    color: rgba(0, 135, 211, .4);
    line-height: 60px;
    text-align: center;
}
#rate:not(:checked) > label:hover,
#rate:not(:checked) > label:hover ~ label {
    color: rgba(0, 135, 211, .6);
}
#rate > input:checked + label:hover,
#rate > input:checked + label:hover ~ label,
#rate > input:checked ~ label:hover,
#rate > input:checked ~ label:hover ~ label,
#rate > label:hover ~ input:checked ~ label {
    color: rgba(0, 135, 211, .8);
}
#rate > input:checked ~ label {
    color: rgb(0, 135, 211);
}
/* - - - - - LIKE */

#like:not(:checked) > label {
    cursor:pointer;
    float: right;
    width: 30px;
    height: 30px;
    display: block;

    color: rgba(233, 54, 40, .4);
    line-height: 33px;
    text-align: center;
}
#like:not(:checked) > label:hover,
#like:not(:checked) > label:hover ~ label {
    color: rgba(233, 54, 40, .6);
}
#like > input:checked + label:hover,
#like > input:checked + label:hover ~ label,
#like > input:checked ~ label:hover,
#like > input:checked ~ label:hover ~ label,
#like > label:hover ~ input:checked ~ label {
    color: rgba(233, 54, 40, .8);
}
#like > input:checked ~ label {
    color: rgb(233, 54, 40);
}
#like {
    font-size: 1.5rem;
}
/*-----------------END OF GIFT-LIST-----------------*/
/* ----------   START OF GIFT CREATE  ------------------ */

.gift-create-image img {
    max-width: 15rem;
    border-radius: 10px;
    border: none;
    box-shadow: 3px 5px 3px black;
}

.gift-create-form form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding-top: 1.5rem;
    height: 100vh;
}
.gift-create-block {
    display: flex;
    justify-content: space-around;
}
.gift-create-price .input{
    width: 5rem;
}
.gift-create-checkbox {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.gift-create-message textarea {
    height: auto;
}
.gift-create-price input {
    width: 7rem;
}
.gift-create-bouton input {
    margin-top: 0rem;
}
.gift-create-message textarea:hover {
    border-top: 2px solid gainsboro;
}
.gift-create-nameCadeau input:hover {
    border-top: 2px solid gainsboro;
}
.gift-create-price input:hover {
    border-top: 2px solid gainsboro;
}
.gift-create-urlDealer input:hover {
    border-top: 2px solid gainsboro;
}
.gift-create-urlPicture input:hover {
    border-top: 2px solid gainsboro;
}
/* ----------   END OF GIFT CREATE  ------------------ */
/* ----------   START OF LIST CREATE  ------------------ */
.list-create-form form{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 90vh;
}
.list-create-button {
    height: 8rem;
}
.list-create-description textarea {
    height: auto;
}
.list-create-name input:hover {
    border: 2px solid gainsboro;
}
.list-create-date input:hover {
    border-top: 2px solid gainsboro;
}
.list-create-description textarea:hover {
    border-top: 2px solid gainsboro;
}
/* ----------   END LIST CREATE  ------------------ */
/* ----------   START OF GIFT  ------------------ */
.gift-user-block {
    height: 80vh;
}
.gift-text {
    text-align: center;
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 3rem;
}
.gift-user-block p:nth-child(4) {
    padding-top: 2rem;
}
.gift-user-ajout a {
    border: solid;
    border-color: cadetblue;
    padding-left: 0.6rem;
    padding-right: 0.6rem;
    font-size: 3rem;
    background-color: cadetblue;
    border-radius: 5px 5px 5px 5px;
    text-decoration: none;
}
.gift-user-ajout div {
    border: solid;
    border-color: beige;
    padding: 4rem;
    margin-top: 2rem;
    border-radius: 10px 10px 10px 10px;
}
.gift-user-ajout {
    display: flex;
    justify-content: center;
}
.gift-user-ajout div:hover {
    border-color: gainsboro;
}
.gift-user-ajout a:hover {
    color: beige;
}

/* ----------   END GIFT  ------------------ */
/* ----------   START ABOUT US  ------------------ */
.team-donkey {
    display: flex;
    height: 70vh;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.dev-left, .dev-right {
    display: flex;
    width: 100vw;
    justify-content: space-evenly;
    align-items: center;
}.dev-right {
     flex-direction: row-reverse;
 }
.dev-image {
    width: 6rem;
    height: 6rem;
    border-radius: 10px;
    border: 1px solid lightgray;
}
/* ----------   END ABOUT US  ------------------ */
/* ----------   START OF GIFT USER RESERVED  ------------------ */
.gift-user-reserved-bloc {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.list-create-name input:hover {
    border: 2px solid gainsboro;
}
.list-create-date input:hover {
    border-top: 2px solid gainsboro;
}
.list-create-description textarea:hover {
    border-top: 2px solid gainsboro;
}
/* ----------   END LIST CREATE  ------------------ */
/* ----------   START OF GIFT  ------------------ */
.gift-text {
    text-align: center;
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 3rem;
}
.gift-user-reserved-encadrement h2 {
    margin-bottom: 2rem;
}
.gift-user-reserved-gift-name {
    margin-top: 1rem ;
    margin-bottom: 1rem;
}
.gift-user-block p:nth-child(4) {
    padding-top: 2rem;
}
.gift-user-ajout form input {
    border: solid;
    border-color: cadetblue;
    padding-left: 0.6rem;
    padding-right: 0.6rem;
    font-size: 3rem;
    background-color: cadetblue;
    border-radius: 5px 5px 5px 5px;
}
.gift-user-ajout form {
    border: solid;
    border-color: beige;
    padding: 4rem;
    margin-top: 2rem;
    border-radius: 10px 10px 10px 10px;
}
.gift-user-ajout {
    display: flex;
    justify-content: center;
}
.gift-user-ajout form:hover {
    border-color: gainsboro;
}
.gift-user-ajout form input:hover {
    color: beige;
    height: 60vh;
}
.gift-user-reserved-image img {
    width: 15rem;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 3px 5px 3px black;
}
.gift-user-reserved {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3rem;
    width: 15rem;
}
.gift-user-reserved-message {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 10rem;
    width: 15rem;
}
.gift-user-reserved-message p {
    padding: 2rem;
}
/* ----------   END GIFT USER RESERVED  ------------------ */
/* ----------   START OF GIFT VISITOR RESA CONNECTED  ------------------ */

.gift-visitor-resa-connected-img img {
    width: 17rem;
    border-radius: 10px 10px 10px 10px;
}

.gift-visitor-resa-connected-bloc {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 150vh;
    margin-top: 2rem;
}

.gift-visitor-resa-connected-bloc-price {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.gift-visitor-resa-connected-price p {
    width: 5rem;
}

.gift-visitor-resa-connected-note p {
    width: 6rem;
}
.gift-visitor-resa-connected-note {
    display: flex;
}

.gift-visitor-resa-connected-description p {
    padding-bottom: 3rem;
    padding-top: 3rem;
}
.gift-visitor-resa-connected-message  {
    text-align: center;
}

.gift-visitor-resa-connected-message form textarea{
    min-height: 6rem;
    padding: 1rem;
}
.gift-visitor-resa-connected-message form input {
    margin: auto;
    margin-top: 3rem;
}
.gift-visitor-resa-connected-resa {
    height: 9rem;
}
.gift-visitor-resa-connected-message form textarea:hover {
    border-top: 2px solid gainsboro;
}

/* ----------   END GIFT VISITOR RESA CONNECTED  ------------------ */
/* ----------   START OF FRAGMENT MOBILE LOGO AVATAR  ------------------ */
.fragment-mobile-logo-avatar-header {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}
.fragment-mobile-logo-header {
    padding: var(--mobile-padding-logo_avatar);
}
.fragment-mobile-logo-avatar-img-logo {
    background-image: url("/image/logo-genie-65*65.png");
    width: var(--mobile-logo_xs-width);
    height: var(--mobile-logo_xs-height);
    border-radius: var(--mobile-logo-border_radius);
}
.fragment-mobile-logo-avatar-img-avatar {
    width: var(--mobile-avatar-width);
    height: var(--mobile-avatar-height);
    border-radius: var(--mobile-avatar-border_radius);
    overflow: hidden;
}
/* ----------   END OF FRAGMENT MOBILE LOGO AVATAR  ------------------ */
/* ----------   START OF FRAGMENT MOBILE LOGO ET TITRE XL  ------------------ */
.fragment-mobile-logo-title-xl {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 30vh;
    padding: var(--mobile-padding-logo_title_xl);
}
.fragment-mobile-logo-xl {
    background-image: url("/image/logo-genie-130*130.png");
    background-position: center;
    background-repeat: no-repeat;
    width: var(--mobile-logo_xl-width);
    height: var(--mobile-logo_xl-height);
}
.fragment-mobile-title-xl {
    font-size: var(--generality-title_xl-font_size);
    color: var(--generality-color-first);
}
/* ----------   END OF FRAGMENT MOBILE LOGO ET TITRE XL  ------------------ */
/* ----------   START OF FRAGMENT NAV BAR MOBILE  ------------------ */
.footer-nav-bar {
    width: 100vw;
    display: flex;
    position: fixed;
    top: 90vh;
    justify-content: space-evenly;
    background-color: var(--generality-color-background);
    border-top: 1px solid lightgray;
    border-radius: 10px 10px 0 0;
}
.footer-nav-bar div {
    height: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.footer-nav-bar a {
    color: var(--generality-color-font_primary);
    text-decoration: none;
    font-weight: bold;
}
/* ----------   END OF FRAGMENT NAV BAR MOBILE  ------------------ */
/* ----------   START OF FRAGMENT NAV BAR MOBILE ABOUT US ------------------ */
.footer-nav-bar-about-us {
    width: 100vw;
    position: fixed;
    top: 90.5vh;
    margin: auto;
    background-color: var(--generality-color-background);
    border-top: 1px solid lightgray;
    border-radius: 10px 10px 0 0;
}
.footer-nav-bar-about-us div {
    height: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.footer-nav-bar-about-us a {
    color: var(--generality-color-font_primary);
    text-decoration: none;
    font-weight: bold;
}
/* ----------   END OF FRAGMENT NAV BAR MOBILE ABOUT US ------------------ */
/* ----------   START PAGE OF AVATAR ------------------------------------- */
.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 1px 1px;
    grid-template-areas: ". ." ". ." ". .";
}
.avatar-container {
    height: 8rem;
    width: 8rem;
    border: 2px solid gray;
    border-radius: 50%;
    margin: 0.5rem auto;
    overflow: hidden;
}
/* ----------   END PAGE OF AVATAR   ------------------------------------- */
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ END MOBILE VERSION ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ START DESKTOP VERSION ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
@media only screen and (min-width: 768px) {
    /*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ START GIFT CREATE ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
    .gift-create-body {
        background-image: url("/image/cadeau17.jpg");
        background-repeat: no-repeat;
        background-size: cover;
    }
    footer {
        display: none;
    }
    .gift-create-encadrement {
        margin: 2rem 15rem 2rem 50rem;
        background-color: white;
        padding-top: 3rem;
        border-radius: 30px;
        border: 1px solid gainsboro;
        padding-bottom: 3rem;
        width: 30rem;
    }
    .input-button {
        width: 10rem;
        height: 3rem;
    }
    /*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ END GIFT CREATE ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
    /*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ START GIFT VISITOR RESA CONNECTED ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
    .gift-visitor-resa-connected-body {
        background-image: url("/image/cadeau20.jpg");
        background-repeat: no-repeat;
        background-size: cover;
    }
    .gift-visitor-resa-connected-encadrement {
        margin: auto;
        width: 30rem;
        padding-top: 3rem;
        border-radius: 30px;
        background-color: white;
        padding-bottom: 3rem;
    }
    /*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ END GIFT VISITOR RESA CONNECTED ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
    /*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ START GIFT USER RESERVED ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
    .gift-user-reserved-body {
        background-image: url("/image/cadeau22.jpg");
        background-repeat: no-repeat;
        background-size: cover;
    }
    .gift-user-reserved-encadrement {
        margin: 2rem 15rem 2rem 50rem;
        padding-top: 3rem;
        padding-bottom: 3rem;
        width: 30rem;
    }
    .gift-user-reserved-encadrement h2 {
        padding-bottom: 2rem;
    }
    .gift-user-reserved-image img {
        box-shadow: 1px 3px 2px black;
    }
    .bloc-p {
        box-shadow: 1px 3px 2px black;
    }
    /*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ END GIFT USER RESERVED ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
    /*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ START CONNECTION ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
    .connection-bloc {
        background-image: url("/image/imageCdadeau3.jpg");
        background-size: cover;
        height: 65vh;
        display:flex;
        justify-content: center;
        align-items: flex-end;
    }
    .connection-main {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin: 28rem;
        background-color: cadetblue;
        border-radius: 10px;
        padding: 1.5rem;
        margin-right: 18rem;
        margin-left: 14rem;
    }

    /*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~  END CONNECTION ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
    /*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ START HOME PAGE ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
    .home-bloc {
        background-image: url("/image/imageCdadeau3.jpg");
        background-size: cover;
        height: 65vh;
        display:flex;
        justify-content: center;
        align-items: flex-end;
    }
    .home-page-main {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin: 28rem;
        background-color: cadetblue;
        min-height: 45vh;
        border-radius: 10px;
        padding: 1.5rem;
        margin-right: 18rem;
        margin-left: 14rem;
    }
}