<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href="../../static/css/style.css">
    <script src="https://kit.fontawesome.com/68562b10c3.js" crossorigin="anonymous"></script>
    <title>Fragment mobile titre et logo xl</title>
</head>
<body>
<header th:fragment="mobile-logo-title-xl">
    <div class="fragment-mobile-logo-title-xl">
        <div class="fragment-mobile-logo-xl"></div>
        <h1 class="fragment-mobile-title-xl">MAKE ME HAPPY</h1>
    </div>
</header>
</body>
</html>