<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>A propos</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/68562b10c3.js" crossorigin="anonymous"></script>
</head>
<body>
    <header th:replace="fragments/mobile-logo.html :: mobile-logo"></header>
    <h2 class="title">À propos</h2>
    <div class="team-donkey">
        <div class="dev-left">
            <div class="dev-image">
                <img src="image/alan.jpeg" alt="photo de Alan Raoul" width="98" height="98">
            </div>
            <a href="https://www.linkedin.com/in/alan-raoul/">Mon Linkedin</a>
        </div>
        <hr>
        <div class="dev-right">
            <div class="dev-image">
                <img src="image/anne.jpeg" alt="photo de Anne Cariou" width="98" height="98">
            </div>
            <a href="https://www.linkedin.com/in/anne-cariou">Mon Linkedin</a>
        </div>
        <hr>
        <div class="dev-left">
            <div class="dev-image">
                <img src="image/morgan.jpeg" alt="photo de Morgan Bourdillel" width="98" height="98">
            </div>
            <a href="https://www.linkedin.com/in/morgan-bourdillel-4b969b195/">Mon Linkedin</a>
        </div>
        <hr>
        <div class="dev-right">
            <div class="dev-image">
                <img src="image/swann.jpeg" alt="photo de Swann Chevreau" width="98" height="98">
            </div>
            <a href="https://www.linkedin.com/in/swann-chevreau">Mon Linkedin</a>
        </div>
    </div>
    <footer th:replace="fragments/navigation-mobile.html :: nav-bar-mobile"></footer>
</body>
</html>