<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>A propos</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/68562b10c3.js" crossorigin="anonymous"></script>
</head>
<body>
    <header th:replace="/fragments/mobile-logo.html :: mobile-logo"></header>
    <h2 class="title">À propos</h2>
    <div class="team-donkey">
        <div class="dev-left">
            <div class="dev-image">

            </div>
            <a href="#">alan.raoul22@gmail.com</a>
        </div>
        <hr>
        <div class="dev-right">
            <div class="dev-image">

            </div>
            <a href="#">ann.cariou@gmail.com</a>
        </div>
        <hr>
        <div class="dev-left">
            <div class="dev-image">

            </div>
            <a href="#">morgan.bourdillel@gmail.com</a>
        </div>
        <hr>
        <div class="dev-right">
            <div class="dev-image">

            </div>
            <a href="#">chevreauswann@outlook.fr</a>
        </div>
    </div>
    <footer th:replace="/fragments/navigation-mobile.html :: nav-bar-mobile"></footer>
</body>
</html>