<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>connexion</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/68562b10c3.js" crossorigin="anonymous"></script>
</head>
<body>
    <header th:replace="fragments/mobile-title.html :: mobile-logo-title-xl"></header>
    <div class="connection-main">
        <div>
            <p>
                Veuillez saisir <br> votre identifiant et votre mot de passe
            </p>
        </div>
        <form action="/dashboard" method="get" class="user-connection">
            <div>
                <input class="generality-input" type="text" name="pseudo" id="pseudo" required placeholder="Pseudo">
            </div>
            <div>
                <input class="generality-input" type="password" name="password" id="password" required placeholder="Password">
            </div>
            <div>
                <input class="input-button" type="submit" value="Connexion">
            </div>
            <div class="forgot-password">
                <a href="#">mot de passe oublié</a>
            </div>
        </form>
        <div class="path-error">
            <p>Pas de compte ?</p>
            <a href="/create-profile">S'inscrire</a>
        </div>
    </div>
    <footer th:replace="/fragments/navigation-mobile-simple.html :: nav-bar-mobile-about-us"></footer>
</body>
</html>