<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/68562b10c3.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/style.css">
    <meta charset="UTF-8">
    <title>Dashboard</title>
</head>
<header th:replace="fragments/mobile-logo-avatar.html :: mobile-logo-avatar(${avatarUrl})"></header>
<body>
    <div th:if="${dashboard.size() == 0}">
        <div class="dashboard-empty-text">
            <p>Bonjour "Votre Pseudo".</p>
            <p>Bienvenue dans votre tableau de bord.</p>
            <p>Pour créer une liste, cliquez sur l'onglet "Ajouter".</p>
        </div>
        <a class="container-dashboard-empty-link" href="/list-create">
            <div class="container-dashboard-empty">
                <p>Ajouter votre liste</p>
                <i class="fas fa-plus-square"></i>
            </div>
        </a>
    </div>
    <ul>
        <li th:each="giftList : ${dashboard}">
            <div class="dashboard-card">
                <a class="dashboard-card-link" th:href="@{/gift-list(id=${giftList.getIdGiftList()})}">
                    <div class="dashboard-gift-card-image">
                        <img class="dashboard-img-placeholder" th:src="|image/${giftList.getImageTheme()}|" src="https://via.placeholder.com/200" alt="cadeau" />
                    </div>
                </a>
                <div class="dashboard-gift-card-body">
                    <div class="dashboard-gift-card-title">
                        <h3 th:text="*{giftList.getTitle()}"> Mon titre</h3>
                    </div>
                    <div class="dashboard-card-excerpt">
                        <input class="dashboard-card-date" type="date" name="anniversaire">
                        <textarea class="dashboard-card-textarea" placeholder="ecris ton message" rows="9" cols="20">
                        </textarea>
                    </div>
                            <form method="post" action="/delete-wishlist">
                                <input type="hidden" name="idGiftList" th:value="${giftList.getIdGiftList()}">
                                <input type="submit" value="Supprimer">
                            </form>
                            </div>
                        </div>
                    </div>
                </div>
         </li>
    </ul>
    <footer th:replace="/fragments/navigation-mobile.html :: nav-bar-mobile"></footer>
</body>
</html>