<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Mes Listes</title>
    <script src="https://kit.fontawesome.com/68562b10c3.js" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <header th:replace="fragments/mobile-title.html :: mobile-logo-title-xl">
    </header>
        <div class="dashboard-empty-text">
            <p th:text="">Bonjour</p>
            <p>Bienvenue dans votre tableau de bord.</p>
            <p>Pour créer une liste, cliquez sur l'onglet "Ajouter".</p>
        </div>
            <a class="container-dashboard-empty-link" href="/list-create">
            <div class="container-dashboard-empty">
                    <p>Ajouter votre liste</p>
                    <i class="fas fa-plus-square"></i>
                </div>
        </a>
    <footer th:replace="fragments/navigation-mobile.html :: nav-bar-mobile"></footer>
</body>
</html>