<!DOCTYPE html>
<html lang="en">
<head>
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link href="../static/css/style.css" rel="stylesheet">
    <meta charset="UTF-8">
    <title>Dashboard</title>
</head>
<body>
<header>
    <h1 class="mylists">Mes Listes</h1>
</header>
    <div class="d-flex justify-content-around flex1 ">
    <div class="card">
        <img class="card-img-top" src="https://via.placeholder.com/150
C/O https://placeholder.com/">
        <div class="card-body red">

            <h5 class="card-title">Cadeau Ganout</h5>
            <br>
            <input id="start" max="2021-12-31" min="2018-01-01"
                   name="trip-start"
                   type="date" value="2020-07-22">
            <div class="btn-toolbar btn-toolbar1">
                <div class="btn-group">
                    <a href="#" class="btn btn-inverse disabled"><i class="icon-white icon-share-alt"></i></a>
                </div>
                <div class="btn-group">
                    <a href="#" class="btn btn-inverse disabled"><i class="icon-white icon-trash"></i></a>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="https://via.placeholder.com/150
C/O https://placeholder.com/">
        <div class="card-body red">

            <h5 class="card-title">Cadeau Alan</h5>
            <br>
            <input id="start" max="2021-12-31" min="2018-01-01"
                   name="trip-start"
                   type="date" value="2020-07-22">
            <div class="btn-toolbar btn-toolbar1">
                <div class="btn-group">
                    <a href="#" class="btn btn-inverse disabled"><i class="icon-white icon-share-alt"></i></a>
                </div>
                <div class="btn-group">
                    <a href="#" class="btn btn-inverse disabled"><i class="icon-white icon-trash"></i></a>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="https://via.placeholder.com/150
C/O https://placeholder.com/">
        <div class="card-body red">

            <h5 class="card-title">Liste Cadeau Swann</h5>
            <br>
            <input id="start" max="2021-12-31" min="2018-01-01"
                   name="trip-start"
                   type="date" value="2020-07-22">
            <div class="btn-toolbar btn-toolbar1">
                <div class="btn-group">
                    <a href="#" class="btn btn-inverse disabled"><i class="icon-white icon-share-alt"></i></a>
                </div>
                <div class="btn-group">
                    <a href="#" class="btn btn-inverse disabled"><i class="icon-white icon-trash"></i></a>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="https://via.placeholder.com/150
C/O https://placeholder.com/">
        <div class="card-body red">

            <h5 class="card-title">Liste Cadeau Anne</h5>
            <br>
            <input id="start" max="2021-12-31" min="2018-01-01"
                   name="trip-start"
                   type="date" value="2020-07-22">
            <div class="btn-toolbar btn-toolbar1">
                <div class="btn-group">
                    <a href="#" class="btn btn-inverse disabled"><i class="icon-white icon-share-alt"></i></a>
                </div>
                <div class="btn-group">
                    <a href="#" class="btn btn-inverse disabled"><i class="icon-white icon-trash"></i></a>
                </div>
            </div>
        </div>
    </div>
    </div>
        <div class="d-flex justify-content-around">
            <div class="card">
                <img class="card-img-top" src="https://via.placeholder.com/150
C/O https://placeholder.com/">
                <div class="card-body red">

                    <h5 class="card-title">Cadeau Ganout</h5>
                    <br>
                    <input id="start" max="2021-12-31" min="2018-01-01"
                           name="trip-start"
                           type="date" value="2020-07-22">
                    <div class="btn-toolbar btn-toolbar1">
                        <div class="btn-group">
                            <a href="#" class="btn btn-inverse disabled"><i class="icon-white icon-share-alt"></i></a>
                        </div>
                        <div class="btn-group">
                            <a href="#" class="btn btn-inverse disabled"><i class="icon-white icon-trash"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <img class="card-img-top" src="https://via.placeholder.com/150
C/O https://placeholder.com/">
                <div class="card-body red">

                    <h5 class="card-title">Cadeau Alan</h5>
                    <br>
                    <input id="start" max="2021-12-31" min="2018-01-01"
                           name="trip-start"
                           type="date" value="2020-07-22">
                    <div class="btn-toolbar btn-toolbar1">
                        <div class="btn-group">
                            <a href="#" class="btn btn-inverse disabled"><i class="icon-white icon-share-alt"></i></a>
                        </div>
                        <div class="btn-group">
                            <a href="#" class="btn btn-inverse disabled"><i class="icon-white icon-trash"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <img class="card-img-top" src="https://via.placeholder.com/150
C/O https://placeholder.com/">
                <div class="card-body red">

                    <h5 class="card-title">Liste Cadeau Swann</h5>
                    <br>
                    <input id="start" max="2021-12-31" min="2018-01-01"
                           name="trip-start"
                           type="date" value="2020-07-22">
                    <div class="btn-toolbar btn-toolbar1">
                        <div class="btn-group">
                            <a href="#" class="btn btn-inverse disabled"><i class="icon-white icon-share-alt"></i></a>
                        </div>
                        <div class="btn-group">
                            <a href="#" class="btn btn-inverse disabled"><i class="icon-white icon-trash"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <img class="card-img-top" src="https://via.placeholder.com/150
C/O https://placeholder.com/">
                <div class="card-body red">

                    <h5 class="card-title">Liste Cadeau Anne</h5>
                    <br>
                    <input id="start" max="2021-12-31" min="2018-01-01"
                           name="trip-start"
                           type="date" value="2020-07-22">
                    <div class="btn-toolbar btn-toolbar1">
                        <div class="btn-group">
                            <a href="#" class="btn btn-inverse disabled"><i class="icon-white icon-share-alt"></i></a>
                        </div>
                        <div class="btn-group">
                            <a href="#" class="btn btn-inverse disabled"><i class="icon-white icon-trash"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</body>
</html>