<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <script crossorigin="anonymous" src="https://kit.fontawesome.com/68562b10c3.js"></script>
    <link href="css/style.css" rel="stylesheet">
    <title>Gift List</title>
</head>
<body>
<header th:replace="fragments/mobile-logo-avatar.html :: mobile-logo-avatar(${avatarUrl})"></header>
    <h2 th:text="${giftList.title}" class="giftlist-h2">Mes Cadeaux</h2>
        <div  th:each="gift : ${gifts}" class="card">
            <img th:src="${gift.getUrlGiftPicture()}" class="gift-card-image">
        <div class="gift-card-body">
        <div class="gift-card-title">
            <h3 th:text="${gift.getNameGift()}" class="title-gift">Cadeau pseudo<br></h3>
                <form method="post" action="/delete-gift">
                    <input type="hidden" name="idGift" th:value="${gift.id}">
                    <input type="hidden" name="idGiftList" th:value="${giftList.getIdGiftList()}">
                    <input type="submit" value="Supprimer">
                </form>
                    <div class="rating" id="like">
                    <input th:checked="${gift.getNote() == 5}" id="heart_5" th:name="|like-${gift.getId()}|" disabled type="radio" value="5"/>
                    <label for="heart_5" title="Five">&#10084;</label>
                    <input th:checked="${gift.getNote() == 4}" id="heart_4" th:name="|like-${gift.getId()}|" disabled type="radio" value="4"/>
                    <label for="heart_4" title="Four">&#10084;</label>
                    <input th:checked="${gift.getNote() == 3}" id="heart_3" th:name="|like-${gift.getId()}|" disabled type="radio" value="3"/>
                    <label for="heart_3" title="Three">&#10084;</label>
                    <input th:checked="${gift.getNote() == 2}" id="heart_2" th:name="|like-${gift.getId()}|" disabled type="radio" value="2"/>
                    <label for="heart_2" title="Two">&#10084;</label>
                    <input th:checked="${gift.getNote() == 1}" id="heart_1" th:name="|like-${gift.getId()}|" disabled type="radio" value="1"/>
                    <label for="heart_1" title="One">&#10084;</label>
                </div>
            </div>
        </div>
        <div class="container-newGift">
            <div class="ajout-gift">
                <p>Ajouter un cadeau</p>
            </div>
            <div class="plusOne">
                <a th:href="@{/gift-create(idGiftList=${giftList.getIdGiftList()})}"><i class="fas fa-plus-square"></i></a>
            </div>
        </div>
    <footer th:replace="/fragments/navigation-mobile.html :: nav-bar-mobile"></footer>
</body>
</html>