<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/style.css">
    <script src="https://kit.fontawesome.com/68562b10c3.js" crossorigin="anonymous"></script>
    <title>Make Me Happy</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body class="gift-user-reserved-body">
    <header th:replace="fragments/mobile-logo-avatar.html :: mobile-logo-avatar(${null})">test
    </header>
    <div class="gift-user-reserved-encadrement">
        <h2 class="title">Mon Cadeau</h2>
        <div class="gift-user-reserved-bloc">
            <div class="gift-user-reserved-image">
                <img alt="title" th:alt="${giftDetails.getNameGift()}" th:src="${giftDetails.getUrlGiftPicture()}">
            </div>
            <div class="gift-user-reserved-gift-name">
                <p th:text="${giftDetails.getNameGift()}"></p>
            </div>
            <div class="gift-user-reserved">
                <p class="bloc-p" th:text="|Cadeau réservé par ${userGift.getPseudo()}|">Cadeau réservé par Diablotin44</p>
            </div>
            <div class="gift-user-reserved-message">
                <p class="bloc-p" th:text="${userGift.getMessage()}"></p>
            </div>
        </div>
    </div>
    <footer th:replace="/fragments/navigation-mobile.html :: nav-bar-mobile"></footer>
</body>
</html>