<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>gift create</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <script src="https://kit.fontawesome.com/68562b10c3.js" crossorigin="anonymous"></script>
</head>
<body>
    <header th:replace="fragments/mobile-logo-avatar.html :: mobile-logo-avatar">test
    </header>
    <h2 class="title">Mon Cadeau</h2>
    <div class="gift-create-form">
        <form method="post" action="/gift-create">
            <div class="gift-create-nameCadeau">
                <input class="input" type="text" name="intitulé" id="intitulé" placeholder="Nom du cadeau" size="50" />
            </div>
            <div class="gift-create-block">
                <div class="gift-create-price">
                    <input class="input" type="text" name="price" id="price" placeholder="Prix" size="25" />
                </div>
                <div class="gift-create-checkbox">
                    <input type="checkbox" name="coeur1" id="coeur1" size="5"  />
                    <input type="checkbox" name="coeur2" id="coeur2" size="5" />
                    <input type="checkbox" name="coeur3" id="coeur3" size="5" />
                </div>
            </div>
            <div class="gift-create-urlDealer">
                <input class="input" type="url" name="urlDealer" id="urlDealer" placeholder="lien du site marchand" size="50"/>
            </div>
            <div class="gift-create-urlPicture">
                <input class="input" type="url" name="urlPicture" id="urlPicture" placeholder="lien de l'image du cadeau" size="50" />
            </div>
            <div class="gift-create-image">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/40/Headphones_1.jpg/1200px-Headphones_1.jpg" alt="image casque"/>
            </div>
            <div class="gift-create-message">
                <textarea class="input" name="description" id="description" placeholder="Commentaire" rows="10" cols="30"></textarea>
            </div>
            <div class="gift-create-bouton">
                <input class="input-botton" type="submit" value="Ajouter"/>
            </div>
        </form>
    </div>
    <footer th:replace="/fragments/navigation-mobile.html :: nav-bar-mobile"></footer>
</body>
</html>