<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>gift create</title>
</head>
<body>
<h1>MakeMeHappy</h1>
<h2>Mon Cadeau</h2>
<form method="post" action="Gift.java">
    <input type="text" name="intitulé" id="intitulé" placeholder="Nom du cadeau" size="50" maxlength="10" />
    <br />

    <input type="text" name="price" id="price" placeholder="Prix" size="15" maxlength="10" />

    <input type="checkbox" name="coeur1" id="coeur1" size="5" maxlength="10" />
    <input type="checkbox" name="coeur2" id="coeur2" size="5" maxlength="10"/>
    <input type="checkbox" name="coeur3" id="coeur3" size="5" maxlength="10"/>
    <br />

    <input type="url" name="urlDealer" id="urlDealer" placeholder="lien du site marchand" size="50" maxlength="10" />
    <br />
    <input type="url" name="urlPicture" id="urlPicture" placeholder="lien de l'image du cadeau" size="50" maxlength="10" />
    <br />

    <textarea name="description" id="description" placeholder="Commentaire" rows="10" cols="30">
    </textarea>
    <input type="submit" value="Ajouter" />
</form>



</body>
</html>