<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <script crossorigin="anonymous" src="https://kit.fontawesome.com/68562b10c3.js"></script>
    <link href="../static/css/style.css" rel="stylesheet">
    <title>Gift List</title>
</head>
<body>
<header th:replace="fragments/mobile-logo-avatar.html :: mobile-logo-avatar"></header>
    <h2 class="giftlist-h2">Mes Cadeaux</h2>
<div class="card">
    <a class="card-link" href="#">
        <div class="gift-card-image"><img src="https://via.placeholder.com/180" alt="cadeau" /></div>
        <div class="gift-card-body">
            <div class="gift-card-title">
                <h3>Cadeau Ganout</h3>
            </div>
            <div class="card-excerpt">
                <div class="rating">
                    <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                </div>
            </div>
        </div>
    </a>
</div>
<div class="card">
    <a class="card-link" href="#">
        <div class="gift-card-image"><img src="https://via.placeholder.com/180" alt="cadeau" /></div>
        <div class="gift-card-body">
            <div class="gift-card-title">
                <h3>Cadeau Ganout</h3>
            </div>
            <div class="card-excerpt">
                <div class="rating">
                    <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                </div>
            </div>
        </div>
    </a>
</div>

<footer th:replace="/fragments/navigation-mobile.html :: nav-bar-mobile"></footer>
</body>
</html>