<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>home page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/68562b10c3.js" crossorigin="anonymous"></script>
</head>
<body>
    <header th:replace="/fragments/mobile-title.html :: mobile-logo-title-xl">
        to replace
    </header>
    <div class="home-page-main">
        <div>
            <p>Veuillez vous enregistrer <br> ou <br> créer votre compte</p>
        </div>
        <div>
            <a class="button" href="/connection">connexion</a>
        </div>
        <div class="forgot-password">
            <a href="#">mot de passe oublié</a>
        </div>
        <div>
            <a class="button" href="/new-profile">créer un compte</a>
        </div>
    </div>
</body>
</html>