<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/style.css">
    <script src="https://kit.fontawesome.com/68562b10c3.js" crossorigin="anonymous"></script>
    <title>Make Me Happy</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <header th:replace="fragments/mobile-logo-avatar.html :: mobile-logo-avatar">test
    </header>
    <h2 class="title">Nouvelle liste</h2>
    <div class="list-create-form">
        <form action="/list-create" method="post">
            <div class="list-create-name">
                <input class="input" type="text" name="intitulé" id="intitulé" placeholder="Nom de la liste" size="50" />
            </div>
            <div class="list-create-theme">
                <select class="input" name="Thème">
                    <option value="Anniversaire">Anniversaire</option>
                    <option value="Naissance">Naissance</option>
                    <option value="Mariage">Mariage</option>
                    <option value="Baptême">Baptême</option>
                    <option value="Cremaillère">Crémaillère</option>
                    <option value="Autre">Autre</option>
                </select>
            </div>
            <div class="list-create-date">
                <input class="input" type="date" placeholder="Date de fin" name="Date de fin" size="50">
            </div>
            <div class="list-create-description">
                <textarea  class="input" placeholder="Description" name="user_message" rows="10" cols="30" size=""></textarea>
            </div>
            <div class="list-create-button">
                <input class="input-button" type="submit" value="Créer">
            </div>
        </form>
    </div>
    <footer th:replace="/fragments/navigation-mobile.html :: nav-bar-mobile"></footer>
</body>
</html>