<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Make Me Happy</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <header>
        <h1>Make Me Happy</h1>
    </header>
    <h2>Nouvelle liste</h2>
    <form action="/nouvelle liste" method="post">
        <div>
            <input type="text" placeholder="Titre" name="Titre">
        </div>
        <div>
            <input type="text" placeholder="Date de fin" name="Date de fin">
        </div>
        <div>
            <textarea  placeholder="Description" name="user_message"></textarea>
        </div>
        <div>
            <button type="button">Créer</button>
        </div>
    </form>
</body>
</html>